* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.58824;
    text-align: center;
    font-family: 'yg-jalnan';
}

ul {
    list-style: none;
    }

.logo img {
    height: 55px;
}

.share_link img {
/*    float: left;*/
    height: 55px;
    margin-right: 50px;
}

.globalnav_check {
/*    top: 0;*/
    position: fixed;
/*    z-index: 9998;*/
    width: 100%;
    margin: 0 auto;
    background: #0d57ff;
    height: 175px;
}
.list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}

.main {
    height: 700px;
    padding-top: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
h3{
    font-size: 20px;
    color: #0d57ff;
    text-align: left;
    
}
@font-face{
    src: url("ttf/yg-jalnan.ttf");
    font-family: 'yg-jalnan';
}

h4{
    font-size: 17px;
    color: #a3a3a3;
    text-align: left;
    float: left;
}

.image_1{
    height: 400px;
}

.check_box{
  width: 600px;
  height: 50px;
  border-radius: 15px;
  background-color: #e6eeff;
  text-align: left;
  line-height: 45px;
  font-size: 20px;
  margin-top: 12px;
  color: #547eff;
  padding-left: 20px;
}
h1{
    color: #fff;
    text-align: left;
    font-size: 30px;
}
h2{
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin-top: 5px;
}

.sub_text{
    display: inline-block;
    width: 100%;
}
.nav_text{
    float: left;
    margin-left: 48px;
}
.nav_img{
    float: right;
    margin-right: 48px;
}
.box{
    width: 620px;
    align-content: center;
}

.nav_img img{
    height: 90px;
}

.right_bar{
  width: 300px;
  height: 10px;
  border-radius: 30px;
  background-color: #e6eeff;
  color: #547eff;
    float: right;
    margin-top: 6px;
}

.bar_area{
    display: inline-block;
    width: 620px;
}
.left_bar1 h4{
    float: left;
}